# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Production
build

# Misc
.DS_Store
*.tsbuildinfo

# Debug
logs
*.log

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# IDE
.vscode
.idea

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Scripts
*.sh

# Documentation
README.md
docs/
